FORMAT: 1A
HOST: https://www.terkan.me/api

# Terkan

Terkan API first draft.

# Data Structures

## User

+ id
+ email
+ name
+ pic

# Group Users

Users API

## User [/users/{id}]

Get a user's profile by id.

+ Parameters
    + id: 1 (required, number) - ID of the user

### Get user by id [GET]

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "id": 1,
                "name": "derebaba",
                "pic": "image_url"
            },
            "message": "success"
        }

### Update user's name [PATCH]

+ Request (application/x-www-form-urlencoded)

    + Body

            { 
                "name" : "derebabuş", 
            }

    + Headers

                Authorization: Bearer {access_token}

    + Attributes
        + name (string) - User's new name

+ Response 204

## Logged-in user [/user]

A user can get his own details by token.

### Get user's details by token [GET]

+ Request (application/x-www-form-urlencoded)

    + Headers

                    Authorization: Bearer <access_token>

+ Response 200 (application/json)

        {
            "success": true,
            "data": {
                "id": 60,
                "name": "derebabo",
                "email": "example@example.com",
                "password": "<hashed_password>",
                "pic": "<image_url>",
                "verified": 1,
                "email_token": "<email_token>",
                "created_at": "2018-04-17 10:14:54",
                "updated_at": "2018-04-22 18:50:15",
                "provider_id": "<string>",
                "provider": "facebook",
                "provider_name": "<facebookName>"
            },
            "message": "success"
        }

## Follow/Unfollow a TV show [/tvs/{id}/follow]

+ Parameters
    + id: 15 (required, number) - ID of the TV show

### Follow TV [POST]

+ Response 204

+ Response 409

    + Body

                {
                    "success": false,
                    "message": "User is already following this show."
                }

### Unfollow TV [DELETE]

+ Response 204

## Get a user's reviews [/users/{id}/review]

Get a user's reviews by user id. The response includes information about the reviewed media in "reviewable" field. Note that field names differ between movie and tv.

+ Parameters
    + id: 15 (required, number) - ID of the user

### Get reviews by user id [GET]

+ Response 200 (application/json)

        {
            "success": true,
            "data": [
                {
                    "id": 16,
                    "stars": 4,
                    "body": "Virüs hakkında genel bilgiler içeriyor ama bilgi kaynaklarının güvenilirliği şüphe uyandırıyor.",
                    "user_id": 15,
                    "reviewable_id": 380808,
                    "reviewable_type": "movie",
                    "created_at": "2018-03-10 16:04:04",
                    "updated_at": "2018-03-10 16:04:04",
                    "reviewable": {
                        "adult": false,
                        "backdrop_path": "/bf463eEKvQ1qOWEUdtdfq1HSKdz.jpg",
                        "belongs_to_collection": null,
                        "budget": 0,
                        "genres": [
                            {
                                "id": 99,
                                "name": "Documentary"
                            }
                        ],
                        "homepage": null,
                        "id": 380808,
                        "imdb_id": "tt5446858",
                        "original_language": "en",
                        "original_title": "Zero Days",
                        "overview": "Alex Gibney explores the phenomenon of Stuxnet, a self-replicating computer virus discovered in 2010 by international IT experts. Evidently commissioned by the US and Israeli governments, this malware was designed to specifically sabotage Iran’s nuclear programme. However, the complex computer worm ended up not only infecting its intended target but also spreading uncontrollably.",
                        "popularity": 3.75033,
                        "poster_path": "/sCTIo9rLdphNPFAJQcdNhbO2jAd.jpg",
                        "production_companies": [
                            {
                                "id": 6735,
                                "logo_path": "/6yyByQrmTAgJv0QzZ1Eh1jiGX4R.png",
                                "name": "Participant Media",
                                "origin_country": "US"
                            },
                            {
                                "id": 2740,
                                "logo_path": null,
                                "name": "Jigsaw Productions",
                                "origin_country": ""
                            }
                        ],
                        "production_countries": [
                            {
                                "iso_3166_1": "US",
                                "name": "United States of America"
                            }
                        ],
                        "release_date": "2016-07-08",
                        "revenue": 0,
                        "runtime": 116,
                        "spoken_languages": [
                            {
                                "iso_639_1": "ru",
                                "name": "Pусский"
                            },
                            {
                                "iso_639_1": "de",
                                "name": "Deutsch"
                            },
                            {
                                "iso_639_1": "en",
                                "name": "English"
                            },
                            {
                                "iso_639_1": "fa",
                                "name": "فارسی"
                            },
                            {
                                "iso_639_1": "fr",
                                "name": "Français"
                            }
                        ],
                        "status": "Released",
                        "tagline": "World War 3.0",
                        "title": "Zero Days",
                        "video": false,
                        "vote_average": 7.5,
                        "vote_count": 94
                    }
                },
                {
                    "id": 24,
                    "stars": 5,
                    "body": "Ah geez man",
                    "user_id": 15,
                    "reviewable_id": 60625,
                    "reviewable_type": "tv",
                    "created_at": "2018-04-09 19:37:32",
                    "updated_at": "2018-04-09 19:37:32",
                    "reviewable": {
                        "backdrop_path": "/mzzHr6g1yvZ05Mc7hNj3tUdy2bM.jpg",
                        "created_by": [
                            {
                                "id": 57194,
                                "name": "Dan Harmon",
                                "profile_path": "/w14k7aCz1IJLej1kGHpD0X3Fngu.jpg"
                            },
                            {
                                "id": 1245733,
                                "name": "Justin Roiland",
                                "profile_path": "/fG4XAevTHgb5nQXUyytU78FAZSD.jpg"
                            }
                        ],
                        "episode_run_time": [
                            22
                        ],
                        "first_air_date": "2013-12-02",
                        "genres": [
                            {
                                "id": 10765,
                                "name": "Sci-Fi & Fantasy"
                            },
                            {
                                "id": 10759,
                                "name": "Action & Adventure"
                            },
                            {
                                "id": 16,
                                "name": "Animation"
                            },
                            {
                                "id": 35,
                                "name": "Comedy"
                            }
                        ],
                        "homepage": "http://video.adultswim.com/rick-and-morty/",
                        "id": 60625,
                        "in_production": true,
                        "languages": [
                            "en"
                        ],
                        "last_air_date": "2018-03-17",
                        "name": "Rick and Morty",
                        "networks": [
                            {
                                "name": "Adult Swim",
                                "id": 80,
                                "logo_path": "/9AKyspxVzywuaMuZ1Bvilu8sXly.png",
                                "origin_country": "US"
                            }
                        ],
                        "number_of_episodes": 31,
                        "number_of_seasons": 3,
                        "origin_country": [
                            "US"
                        ],
                        "original_language": "en",
                        "original_name": "Rick and Morty",
                        "overview": "Rick is a mentally-unbalanced but scientifically-gifted old man who has recently reconnected with his family. He spends most of his time involving his young grandson Morty in dangerous, outlandish adventures throughout space and alternate universes. Compounded with Morty's already unstable family life, these events cause Morty much distress at home and school.",
                        "popularity": 32.131155,
                        "poster_path": "/qJdfO3ahgAMf2rcmhoqngjBBZW1.jpg",
                        "production_companies": [
                            {
                                "id": 6760,
                                "logo_path": null,
                                "name": "Williams Street",
                                "origin_country": ""
                            },
                            {
                                "id": 8300,
                                "logo_path": null,
                                "name": "Harmonius Claptrap",
                                "origin_country": ""
                            },
                            {
                                "id": 47394,
                                "logo_path": null,
                                "name": "Justin Roiland's Solo Vanity Card Productions",
                                "origin_country": ""
                            },
                            {
                                "id": 32542,
                                "logo_path": null,
                                "name": "Starburns Industries",
                                "origin_country": ""
                            }
                        ],
                        "seasons": [
                            {
                                "air_date": "2013-12-02",
                                "episode_count": 11,
                                "id": 60059,
                                "name": "Season 1",
                                "overview": "",
                                "poster_path": "/h9RUEsA6BROWcg0QF6ngNPX5FFh.jpg",
                                "season_number": 1
                            },
                            {
                                "air_date": "2015-07-26",
                                "episode_count": 10,
                                "id": 66738,
                                "name": "Season 2",
                                "overview": "",
                                "poster_path": "/wuzVQl2Q6Qozt6kYnFDxD5KH9Zw.jpg",
                                "season_number": 2
                            },
                            {
                                "air_date": "2017-04-01",
                                "episode_count": 10,
                                "id": 86926,
                                "name": "Season 3",
                                "overview": "",
                                "poster_path": "/lVcwMfbHx4QguLbZT4bink9mcgd.jpg",
                                "season_number": 3
                            }
                        ],
                        "status": "Returning Series",
                        "type": "Scripted",
                        "vote_average": 8.5,
                        "vote_count": 814
                    }
                }
            ],
            "message": "success"
        }

# Group Oauth

Authentication interface

## Get access token [/oauth/token]

### Get or refresh access token [POST]

+ Request Get token by credentials (application/x-www-form-urlencoded)

    + Body

                { 
                    "grant_type": "password",
                    "client_id": 8,
                    "client_secret": "<secret>",
                    "username": "<userEmail>",
                    "password": "<password>",
                }

+ Request Refresh token (application/x-www-form-urlencoded)

    + Body

                { 
                    "grant_type": "refresh_token",
                    "client_id": 8,
                    "client_secret": "<secret>",
                    "refresh_token": "<refreshToken>",
                }

+ Response 200 (application/json)

    + Body

                {
                    "token_type": "Bearer",
                    "expires_in": 1295997,
                    "access_token": "<accessToken>",
                    "refresh_token": "<refreshToken>"
                }

# Group Movies

Movies API

## Popular movies [/movies/popular]

Get movies which are currently popular

### Get popular movies [GET]

+ Response 200 (application/json)

    + Body

                {
                    "success": true,
                    "data": [
                        {
                            "vote_count": 1386,
                            "id": 337167,
                            "video": false,
                            "vote_average": 6.0999999999999996,
                            "title": "Fifty Shades Freed",
                            "popularity": 541.50172999999995,
                            "poster_path": "/jjPJ4s3DWZZvI4vw8Xfi4Vqa1Q8.jpg",
                            "original_language": "en",
                            "original_title": "Fifty Shades Freed",
                            "genre_ids": [
                                18,
                                10749
                            ],
                            "backdrop_path": "/9ywA15OAiwjSTvg3cBs9B7kOCBF.jpg",
                            "adult": false,
                            "overview": "Believing they have left behind shadowy figures from their past, newlyweds Christian and Ana fully embrace an inextricable connection and shared life of luxury. But just as she steps into her role as Mrs. Grey and he relaxes into an unfamiliar stability, new threats could jeopardize their happy ending before it even begins.",
                            "release_date": "2018-02-07"
                        },
                        {
                            "vote_count": 6966,
                            "id": 269149,
                            "video": false,
                            "vote_average": 7.7000000000000002,
                            "title": "Zootopia",
                            "popularity": 320.55776800000001,
                            "poster_path": "/sM33SANp9z6rXW8Itn7NnG1GOEs.jpg",
                            "original_language": "en",
                            "original_title": "Zootopia",
                            "genre_ids": [
                                16,
                                12,
                                10751,
                                35
                            ],
                            "backdrop_path": "/mhdeE1yShHTaDbJVdWyTlzFvNkr.jpg",
                            "adult": false,
                            "overview": "Determined to prove herself, Officer Judy Hopps, the first bunny on Zootopia's police force, jumps at the chance to crack her first case - even if it means partnering with scam-artist fox Nick Wilde to solve the mystery.",
                            "release_date": "2016-02-11"
                        },
                        ...,
                    ],
                    "message": "success"
                }

