.widget .card-body { padding:0px; }
.widget .card-title { display:inline; }
.widget .badge-info { float: right; }
.widget li.list-group-item {border-radius: 0;border: 0;border-top: 0.0625rem solid #ddd;}
.widget { background-color: rgba(86,61,124,.1); }
/* partials.review */
.mic-info {
	color: #666666;
	font-size: 0.6875rem;
	margin-bottom: 5px;
}
.widget .action { margin-top:0.3125rem; }
.widget .comment-text { font-size: 0.75rem; }
.widget .btn-block { border-top-left-radius:0px;border-top-right-radius:0px; }
.review-form .review-button { float: left; }
.center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron, .card-header, .list-group-header {
	background-color: #E56612 ; color:white; 
}

/* layouts.app */
body { 
	background-color: darkgray !important; 
	padding-bottom:60px;   /* Height of the footer */ 
}
#app {
    min-height: calc(100vh - 4rem - 4rem);
}
#footer {
	/* padding-left: 4rem; */
	
}
#footer a {
	margin: 20px;
	color: grey;
	white-space: nowrap;
}
.cookie-consent {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: green;
	color: white;
	text-align: center;
	opacity: 0.8;
	font-size: 13px;
}
#cookie-agree-button {
	font-size: .75rem;
}
.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
/* end layouts.app */

/* search */
.poster {
	margin: 10px;
    width: 154px;
    height: 231px;
	position:relative;
	display: inline-block; 
	white-space: nowrap;
}
.poster:hover > .overlay {
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.reviewable-name {
	color: rgba(255, 255, 255, 1);
	visibility: hidden;
	position: absolute;
    top: 50%;
    left: 50%;
	transform: translate(-50%, -50%);
	font-family: 'Open Sans', sans-serif;
	white-space: pre-wrap;      /* CSS3 */   
   	white-space: -moz-pre-wrap; /* Firefox */   
    white-space: -o-pre-wrap;   /* Opera 7 */    
    word-wrap: break-word;      /* IE */
	width: 90%;
}

.poster:hover .reviewable-name {
	visibility: visible;
}

/* home */
figure {
	background-color: #fff;
	padding: 5px;
	font-size: .875em;
	display: table;
 }
 
figure img {
	display: block;
	width: 100%;
}
 
figcaption {
	display: table-caption;
	caption-side: bottom;
	background: #fff;
	padding: 0 5px 5px;
}

img.w92 {
	height: 138px;
	width: 92px;
}
img.w154 {
	/* height: 231px; */
	width: 154px;
}

/*	search.* */
#navbar-list {
    display:table;
    width:100%;
    margin: 0;
}
#navbar-list > li {
    float:none;
    display:table-cell;
    text-align:center;
}
#search-navbar {
	width: 100%;
}
.bar-button {
	padding: 5px;
}

/*	login, register */
.hr-text {
	display: flex;
	flex-basis: 100%;
	align-items: center;
	color: rgba(0, 0, 0, 0.35);
	font-size: 12px;
	margin: 8px 0px;
}
.hr-text::before,
.hr-text::after {
	content: "";
	flex-grow: 1;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
	margin: 0px 16px;
}
/*
#terkan-promotion {
	background-image: url('/images/a.jpg');
	background-image: linear-gradient(to bottom, rgba(134, 61, 12, 0.667) 0%,rgba(117, 53, 11, 0.667) 100%), url('/images/at.jpg');
	background-position: center;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}*/
